.row{
    align-items: center;
    height: 87vh;
    
}
.border{
    
    border-radius: 5px;
    box-shadow: 2px 2px 6px  hsla(0, 0%, 0%, 0.475);
}
.buttonclass1{
    display: flex;
    justify-content: center;
    height: 45px;

}
.buttonclass{
    display: flex;
    justify-content: center;
}
.legend{
    font-family: "Mukta", sans-serif;
    font-weight:900;
    font-size:2rem;
    font-style: normal;   
    letter-spacing: 0.1rem; 
    margin-bottom: -30px;
}
.forgot-pass{
    font-size: 15px;
    display: block;
}
.forgot-pass:active{
    color: rgb(213, 8, 8);
}
.emailalert{
    font-size: 15px;
    display: block;
    color: rgb(213, 8, 8);
}
.passalert{
    font-size: 15px;
    display: block;
    color: rgb(213, 8, 8);
}
.login{
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}
.details{
    
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}
.form-control{
    height:45px;
    font-size: 17px;
}
.btn-success{
    font-size: 20px;
}
